fastapi
uvicorn
streamlit
google-generativeai
langchain-google-genai
langchain-chroma
langchain-community
langchain
pydantic
opencv-python-headless
numpy
python-dotenv
pypdf
langchain-huggingface
sentence-transformers
reportlab